/* 页面 less 文件, 如果不用less就直接编辑相应的css文件 */
#m-addresses > .address {
  margin-bottom: 10px;
  background-color: #ffffff;
}
#m-addresses > .address > .content {
  padding: 0 10px 5px;
  border-bottom: 1px solid #ededed;
  position: relative;
  overflow-y: scroll;
}
#m-addresses > .address > .content > .detail >.radio {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
#m-addresses > .address > .content > .detail >.info {
  padding-left: 30px;
}
#m-addresses > .address > .content > .detail >.info > .name {
  font-size: 15px;
  line-height: 32px;
}
#m-addresses > .address > .content > .detail > .info > .phone {
  font-size: 15px;
  line-height: 32px;
  padding-right: 20px;
}
#m-addresses > .address > .content > .detail {
  font-size: 14px;
  color: #a0a0a0;
  padding-left: 30px;
  line-height: 21px;
}
#m-addresses > .address > .content > .buttons > a {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  text-align: center;
  font-size: 16px;
  line-height: 44px;
}
#m-addresses > .address > .buttons > a > span {
  display: inline-block;
  vertical-align: middle;
  margin: 2px 0 0 8px;
}
#m-addresses > .address > .buttons > a:first-child {
  border-right: 1px solid #ededed;
}
#m-addresses > .address > .buttons > a:last-child {
  margin-left: -1px;
}
#m-addresses > .address > .buttons > a:active {
  background-color: #f0f0f0;
}
#m-new-address {
  padding: 10px;
}

#listbox {
	position: absolute;
	z-index: 999;
	background: #fff;
	width: 83%;
	text-align: left;
   top: 3em;
}

#listbox li {
	padding-left: 5px;
	line-height: 30px;
	border-bottom: 1px #b6b6b6 solid;
	margin-left: 0px;
	margin-right: 0px;
}

#listbox ul {
	border: 1px solid #b6b6b6;
	width: 100%;
	background: #fff;
}

.address_div{
	width: 100%;
	float: left;
	background: #FFFFFF;
}
.address_div li{
	width: 100%;
	float: left;
	border-bottom: 1px solid #EDEDED;
}
.address_div li input{
	float: left;
	margin: 0.25rem 20px;
	height: 0.25rem;
	padding: 5px;
	border: none;
	outline:none;
	font-size: 0.25rem;
	width: 3.8rem;
}
.address_div li span{
	float: left;
	font-size: 0.25rem;
	line-height: 1rem;
	width: 20%;
	text-align: right;
}
.new_save_address{
	float: left;
	width:100%;
}
.new_save_address button{
	background: #FE912C;
	color: #FFFFFF;
	border-radius: 5px;
	outline: none;
	border: none;
	float: left;
	line-height: 0.8rem;
	margin: 0.2rem 0.2rem;
	width: 94%;
	font-size: 0.28rem;
}

/*地址选择css样式*/
.choose_add li{
	float: left;
	background: #FFFFFF;
	margin-bottom: 0.2rem;
}
