.order_distribution{
	width:100%;
	overflow: hidden;
	background: #FFFFFF;
}
.o_d_title{
	width: 100%;
	padding-left: 20px; 
	font-size: 0.32rem;
	line-height: 1rem;
	border-bottom: 1px solid #FE912C;
}
.o_d_information{
	padding: 0px 20px;
	overflow: hidden;
	border-bottom: 1px solid #FE912C;
	line-height:0.5rem;
}
.order_in_img{
	width: 0.5rem;
	float: left;
	margin-top: 0.45rem;
}
.o_d_information span{
	font-size: 0.25rem;
	float: left;
	color: #a0a0a0;
}

.o_d_information span strong{
	color: #a0a0a0;
}

.o_d_information span.mobile{
	float:right;
	color: #a0a0a0;
}

.o_address{
	float: left;
	width: 80%;
	padding: 2% 0px;
}

.o_right_arrow{
	float: right;
	width: 20%;
	padding: 2% 0px;
	margin: 0.1rem 0px;
}
	
.order_in_right{
	width: 0.25rem;
	float: right;
	margin-top: 0.55rem;
}
.order_time{
	padding: 0px 20px;
	margin-top: 0.25rem;
	background:#FFFFFF;
	overflow: hidden;
}
.order_t_title{
	font-size:0.32rem;
	line-height: 1rem;
}
.order_pay{
	overflow: hidden;
	background: #FFFFFF;
	margin-top: 20px;
	padding-bottom: 20px;
}
.order_p_way{
	padding: 0px 20px;
	font-size:0.32rem;
	line-height: 1rem;
	border-bottom: 1px solid #FE912C;
}
.order_p_con{
	width: 100%;
	background: #FFFFFF;
}
.order_p_list{
	overflow: hidden;
}
.order_p_list li{
	overflow: hidden;
	margin-top: 20px;
	padding: 0px 20px;
}
.o_pay_img{
	float: left;
	width: 0.6rem;
}
.order_p_list li span{
	float: left;
	font-size: 0.28rem;
	line-height: 0.5rem;
	margin-left: 20px;
}

.order_p_list table{
	margin: 0px 20px;
	width: 85%;
}
th{
	color: #A0A0A0;
	font-size: 0.25rem;
	font-weight: 100;
	line-height: 0.6rem;
}
.order-discount{
	background: #FFFFFF;
	margin-top: 0.25rem;
	padding: 0px 20px;
	overflow: hidden;
}
.cart-heading{
	background: #FFFFFF;
	margin-top: 0.25rem;
	padding: 0px 20px;
	overflow: hidden;
}

.o_notice_input{
	width: 70%;
	border: 1px solid #a0a0a0;
	border-radius: 4px;
	height: 0.3rem;
	padding: 5px;
	margin: 0.10rem 15%;
	outline: none;
	font-size:0.25rem;
}

.order_total{
	overflow: hidden;
	padding: 0px 20px;
	border-bottom: 1px solid #ededed;
}
.order_total  .price{
	float:right;
	text-align: right;
	font-size: 0.25rem;
	line-height: 0.5rem;
	width:30%;
	color: #FF6600;
}

.order_total  .text{
	float:right;
	text-align: right;
	font-size: 0.25rem;
	line-height: 0.6rem;
	width:70%;
}



/*閰嶉�淇℃伅鏄剧ず*/
.o_consignee{
	width: 72%;
	float: left;
	padding-left: 10px;
}
.o_consignee div{
	font-size:0.3rem;
	line-height: 0.5rem;
}
.order_d_block{
	overflow: hidden;
	background: #FFFFFF;
	display: none;
	padding: 10px 0px 20px 20px;
	border-bottom: 1px solid #FE912C;
}
.o_block_right{
	width: 0.25rem;
	float: right;
	margin-top: 0.55rem;
}
.o_b_information{
	overflow: hidden;
	padding-right: 20px;
}

.content_title{
	color:#A0A0A0;
	font-size:0.25rem;
	padding-left: 0.3rem;
}

.cart-content{
	width:100%;
	background:#FFF;
	display:none;
}

.payment_select{
	display:none;
}

.payment_select + label{
	float: right;
	margin-right: 2px;
	background: url("../images/nocheck.png") no-repeat scroll center center transparent;
	background-size: 0.45rem auto;
	height: 0.5rem;
	width: 0.5rem;
	border: 1px solid #CACECE;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), 0px -15px 10px -12px rgba(0, 0, 0, 0.05) inset;
	border-radius: 0.25rem;
 
}

.payment_select:checked + label{
	 background: url("../images/checked.png") no-repeat scroll center center transparent;
	 background-size: 0.45rem auto;
} 

.payment_select:active + label{
	 border-color: #F00;
	 background-size: 0.45rem auto;
} 

.payment_select:hover + label{
	 border-color: #F00;
	 background-size: 0.45rem auto;
} 


.checkout-total {
	background: #FFFFFF;
	margin-top: 0.25rem;
}

.checkout-order{
	margin-top: 0.25rem;
	background: #FFFFFF;
	overflow: hidden;
}
#button-confirm{
	background: #FE912C;
	color: #FFFFFF;
	font-size: 0.3rem;
	line-height: 0.8rem;
	border-bottom: 1px solid #ededed;
	float: right;
	padding: 0px 0.5rem;
}

#button-confirm span {
	color: #FFF;
}

.o_amount_payable{
	font-size:0.3rem;
	line-height: 0.8rem;
	float: left;
	margin-left: 0.5rem;
}

.o_amount_payable span {
	color:#E00;
}

.button{
	color: #FFF;
	background-color: #EF912C;
	transition: all 0.218s ease 0s;
	-moz-user-select: none;
	border-radius: 2px;
	font-size: 0.25rem;
	padding: 5px ;
	text-align: center;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}

.button.button-slim {
   	width:70%;
	margin:0.15rem 15%; 
	display:inline-block;
}


.text-title{
	text-align: center;
	color:#FFF;
}
