/* 页面 less 文件, 如果不用less就直接编辑相应的css文件 */
#m-empty {
  padding-top: 50px;
}
#m-empty > img {
  width: 96.5px;
  height: auto;
}
#m-empty > .col-gray {
  padding: 25px 0 15px;
}
#m-foods > form > .foods > li {
  margin-bottom: 10px;
  background-color: #ffffff;
  padding: 10px 0 10px 10px;
  height: 70px;
  position: relative;
}
#m-foods > form > .foods > li > .checkbox {
  width: 32px;
  height: 100%;
  line-height: 70px;
}
#m-foods > form > .foods > li > .delete > .icon {
  margin: -3px 13px 0 0;
}
#m-foods > form > .foods > li > .img-wrapper {
  width: 100px;
  height: 70px;
}
#m-foods > form > .foods > li > .content {
  padding-left: 142px;
}
#m-foods > form > .foods > li > .content > .activity {
  padding: 8px 0;
}
#m-foods > form > .foods > li > .food-num {
  position: absolute;
  right: 5%;
  line-height: 25px;
  height: 25px;
  bottom: 10px;
  width: 70px;
}
#m-foods > form > .submit-wrapper {
  height: 55px;
}
#m-foods > form > .submit-wrapper > .submit {
  border-top: 1px solid #ededed;
  position: fixed;
  bottom: 51px;
  width: 100%;
  height: 44px;
  line-height: 44px;
}
#m-foods > form > .submit-wrapper > .submit > a,
#m-foods > form > .submit-wrapper > .submit span {
  line-height: 44px;
  display: inline-block;
  vertical-align: middle;
}
#m-foods > form > .submit-wrapper > .submit > .check-all {
  padding: 0 15px 0 12px;
}
