   #siderIMchat_main1 .top {
    background: url("../image/siderim_title.gif") repeat scroll 0 0 transparent;
    height: 34px;
}

#siderIMchat {
    position: absolute;
    z-index: 65535;
}
#siderIMchat_hiddenbar {
    background: url("../image/siderim_hiddenbar.gif") repeat scroll 0 0 transparent;
    height: 136px;
    width: 26px;
}
#siderIMchat_main {
    display: none;
    margin: 0 10px;
    width: 110px;
}
#siderIMchat_main .top {
    background: url("../image/siderIM_title.gif") repeat scroll 0 0 transparent;
    height: 34px;
}
#siderIMchat_main .infobox {
    background: url("../image/siderim_infobox.gif") no-repeat scroll 0 0 #BDC5CB;
    color: #000000;
    font-weight: 700;
    line-height: 14px;
    padding: 5px;
    text-align: center;
}

#siderIMchat_main .bg {
    background: url("../image/siderim_bg.gif") repeat scroll 0 0 transparent;
    padding: 5px;
}
#siderIMchat_main ul li {
    border-bottom: 1px dotted #DDDDDD;
    margin-bottom: 6px;
    margin-right: 5px;
}
#siderIMchat_main .bottom {
    background: url("../image/siderim_bottom.gif") repeat scroll 0 0 transparent;
    height: 9px;
    overflow: hidden;
}
#siderIMchat1 {
    position: absolute;
    z-index: 65535;
}
#siderIMchat_hiddenbar1 {
    background: url("../image/siderim_hiddenbar.gif") repeat scroll 0 0 transparent;
    height: 136px;
    width: 26px;
}
#siderIMchat_main1 {
    display: none;
    margin: 0px 10px;
    width: 130px;
}
#siderIMchat_main1 .top {
    background: url("../image/qq_listbg.gif") repeat scroll 0 0 transparent;
    height: 6px;
}
#siderIMchat_main1 .infobox {
    color: #fff;
    font-size:14px;
    font-weight: 700;
    line-height: 14px;
    padding: 5px;
    
    text-align: center;
}
#siderIMchat_main1 .infobox h3{
    font-family: "microsoft yahei";
    font-size: 18px;
    font-weight: normal;
}
#siderIMchat_main1 .lnk{font-family: "microsoft yahei";}
#siderIMchat_main1 .bg {
    background: #6bb130;
    padding: 10px 5px;
}
#siderIMchat_main1 ul li {
    float: left;
    width: 120px;
    margin: 0px auto;
    padding-top: 10px;
    text-align: center;
}
#siderIMchat_main1 .bottom {
    background: url("../image/qq_listbg.gif")  -310px 0  no-repeat transparent;
    height: 9px;
    overflow: hidden;
}

.textcenter, td.textcenter, a.textcenter, span.textcenter, li.textcenter, div.textcenter, p.textcenter, colgroup.textcenter {
    text-align: center;
}

.pushdown-2 {
    margin-top: 10px;
}

.textcenter, td.textcenter, a.textcenter, span.textcenter, li.textcenter, div.textcenter, p.textcenter, colgroup.textcenter {
    text-align: center;
}
#siderIMchat_hiddenbar1 {
    background: url("../image/qq_1.png") repeat scroll 0 0 transparent;
    height: 158px;
    width: 33px;
}

#siderIMchat1 ul,#siderIMchat1 li{ list-style:none; margin:0; padding:0;   }
#siderIMchat1 ul{min-height: 150px;}
#closeSiderIMchat1{ cursor:pointer; color:#fff;  }