.cart_total_match{
	margin-top: 0.32rem;
	margin-left: 45px;
}
.details_img_name{
	background: #FFFFFF;
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
}
.details_img_name span{
	font-size: 0.28rem;
	float: left;
	margin-left: 20px;
	line-height: 1rem;
}
.details_img_price{
	background: #FFFFFF;
	width: 100%;
}
.details_img_current{
	font-size: 0.4rem;
	color: #FE912C;
	margin-left: 20px;
	line-height: 1.2rem;
}
.details_img_original{
	font-size: 0.3rem;
	line-height: 1.2rem;
	margin-left: 10px;
	text-decoration: line-through;
}
.collect{
	width: 0.5rem;
	margin: 18px 0px 0px 0px;
}
.details_comment{
	width: 0.5rem;
	margin: 16px 20px 0px 20px;
}
.details_dish_div{
	width: 100%;
	margin-top: 10px;
	background: #FFFFFF;
}
.details_dish_div li{
	float: left;
	width: 2.1rem;
}
.details_dish_div li div{
	float: left;
	line-height: 1.2rem;
	
	text-align: center;
}
.details_dish_div li img{
	width: 0.4rem;
	float: left;
	margin-top: 0.4rem;
	margin-right: 10px;
	margin-left: 16px;
}
.details_dish_div li span{
	font-size:0.2rem;
	float: left;
}
.details_dish_division{
	border-left: 1px solid #FE912C;
	border-right: 1px solid #FE912C;
}
