*{
	margin: 0px;
	padding: 0px;
	font-family: "Microsoft YaHei";
}
ul,li{
	list-style-type: none;
}
img {
	width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.dpb{
	display: block;
}
.dilb{
	display: inline-block;
}
.white{
	background:#FFFFFF
}
.ofh{
	overflow:hidden
}
.mt10{
	margin-top:10px;
}
.mr1{
	margin-right: 1rem;
}
