@CHARSET "UTF-8";
strong{ font-weight:bold; }
.mgt10{ margin-top:10px; }
.mgb10{ margin-bottom:10px; }

.sitemap-info li{ margin-left:20px; line-height:21px; margin-bottom: 3px; }
#cart_total a{ padding-right:25px;}


a:hover { color:#6bb130; }

#welcome a{ color:#6bb130; }
#welcome a:hover{ color:#f00; }


.advs{margin-top: 425px;}
	


.box-product .name a{ font-weight:normal; }

/* Fixed Q8 */
#bestseller .name{ height:38px; overflow:hidden; }

.storm{ right:0; }

#nav-extra {
    height: 40px;
    position: relative;
}
#nav-extra ul {
    float: left;
	margin-top:0px;
}
#nav-extra li {
    float: left;
    position: relative;
    z-index: 1;
}

#nav-extra a {
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    text-align: center;
    color: #fff;
    font-family: "microsoft yahei";
}
#nav-extra a:hover{ background: #65952d; color: #eee;}



#nav-extra .selected a{
	width:90px;
	background:#80C3F7;
	color:#333;
	font-family: "microsoft yahei";
}

#notification {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index:100;
}


#notification .close{padding:5px; display:inline-block;}

.product .name,.box-product>div .name,.product-grid .name{ height:38px; white-space:normal;word-wrap: break-word; word-break:break-all; overflow:hidden; }

.clear{ clear:both; }

#group img{ width:140px; height:140px; }

/*recommend*/
.recommend .mt{padding-bottom:0;}
.recommend .tab{margin-bottom:0;}
.recommend .tab-sub{padding:8px 0 3px;}
.recommend .master{float:left;position:relative;width:165px;height:216px;background:#fff;border:solid #D8D7D3;
border-width:1px 0 1px 1px;padding:0 35px 0 5px;text-align:center; padding-top:5px;
}
.recommend .master .icon-add{position:absolute;top:45px;right:0;width:30px;height:30px;background-position:-181px 0; 
background-image: url(graphic/icon2011111801.png);
background-repeat: no-repeat;}
.recommend .suits{float:left;position:relative;width:540px;height:216px;background:#fff;border:solid #D8D7D3;border-width:1px 1px 1px 0;overflow-y:hidden;overflow-x:auto; padding-top:5px;}
.recommend .suits .container{ width:4000px;}
.recommend .suits ul{float:left;height:206px; margin:0; padding:0; }
.recommend .suits li{float:left;width:166px;padding:0 7px; border-bottom:0; text-align:center;}
.recommend .suits li .p-name{ height:36px; }
.recommend .infos{float:right;width:100px;padding:0 5px 8px 0;}
.recommend .infos div{margin-bottom:5px;}
.recommend .infos .p-name a{color:#005aa0;font-weight:bold;}

.recommend .infos .p-saving{color:#008000;}
.recommend .btn-buy{float:left;width:70px;height:21px;text-align:center;line-height:21px;color:#fff;background-position:-141px -121px;}
#group{background:#FFF9EB;border:solid #F3E7C7;border-width:0 1px 1px;padding:5px;}


/* Product Detail */
.product-info .summary {
	overflow:hidden;
	padding-bottom: 10px;
}

.product-info .summary li {
	line-height: 30px;
	clear: both;
}

.product-info .detail{ 
	overflow:hidden; 
	padding-top:10px; 
	padding-bottom: 10px;
	border-top: 1px dotted #ccc; 
	color: #000; 
}

.product-info .detail li {
	float: left;
	line-height: 24px;
	clear: none;
	color: #000;
}

.product-info .detail li span {
	display: block;
	overflow: hidden;
	width: 180px;
}


/* .product-filter BEGIN */

.product-filter {
	border-bottom: 1px solid #ccc;
	padding: 10px 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: auto;
	height: 30px;
	line-height: 30px;
	background: #f1f1f1;
}

.product-filter .display{ float:left; width:200px;height: 30px; line-height: 30px; }
.product-filter .order{ float:left; width:250px; }
.product-filter .order dt{ float:left; display:inline; }
.product-filter .order dd{ float:left; display:inline; margin:0 5px; }

.product-filter .limit{ float:right; width:150px; text-align:right; }

.product-filter .icon{ cursor:pointer; }
.product-filter .icon b{
	background: url(graphic/bg_search_sort.png) no-repeat;
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 14px;
	vertical-align: middle;
	margin-right: 3px;
}

.product-filter .icon.grid b{
	background-position: -48px -40px;
	cursor: pointer;
}

.product-filter .icon.grid.active b{
	background-position: -32px -40px;
	cursor: pointer;
}

.product-filter .icon.list b{
	background-position: -16px -40px;
}

.product-filter .icon.list.active b{
	background-position: 0 -40px;
}

.product-filter .order b{
	display: inline-block;
	width: 11px;
	height: 11px;
	vertical-align: middle;
	margin: 0 3px 0 0;
}

.product-filter .order .icon.asc b{
	background-position: 0 -55px;
	margin-right: 3px;
}

.product-filter .order .curr .icon.asc b{
	background-position: -12px -55px;
}

.product-filter .order .icon.desc b{
	background-position: -24px -55px;
	margin-right: 3px;
}

.product-filter .order .curr .icon.desc b{
	background-position: -36px -55px;
}

.product-filter .order a{ 
	display: inline-block;
	height: 17px;
	line-height: 17px;
	padding: 0 5px;
	border: 1px solid rgb(205, 205, 205);
	background-repeat: repeat-x;
	background-position: 0 -20px;
	_padding-top: 3px;
	_height: 13px;
	cursor: pointer;
}

.product-filter .order a.active{ 
	border: 1px solid rgb(255, 209, 139);
	background-position: 0 0;
}

/*
 *From: Twitter basecape */
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}

/* #Login & #Register */
.login-content{border: 0px solid #ddd;}

#login-panel{
	width: 400px;
	border: 1px solid #ccc;
	
}
#login-panel .login-title{
	background: #eee; 
	height: 40px; 
	line-height: 40px;
	text-align: left;
	padding-left: 50px;
	font-size: 18px;
	font-family: "microsoft yahei";
	font-weight: bold;
	color: #333;
}
#login-panel .login-title span{
	font-size: 12px; 
	text-decoration: underline; 
	margin-left: 20px;
	font-weight: normal;
}
#login-panel .content{border: none; margin: 0px; overflow:hidden; padding: 50px 0px 52px 50px;}

#login-panel b{color: #666; font-family: "microsoft yahei";}
#login input[type="text"],
#login input[type="password"]{
	width:300px;
	margin:5px 0;
	line-height:35px; 
	height: 35px;
	padding: 4px 30px 4px 5px;
	font-size: 14px;
	font-family: Arial;
	color: #666;
}
#login input[type="text"]{
	background: url("graphic/one4.jpg") right 10px center no-repeat;
}
#login input[type="password"]{
	background: url("graphic/one5.jpg") right 10px center no-repeat;
}
#login-panel .button{
    height: 34px;
    line-height: 34px;
    width: 300px;
    padding: 0px;
}
#login-panel a.button span{line-height: 34px; font-size: 16px;font-family: "microsoft yahei"}

#login-panel .ftx24 {color: #999999;}
#login-panel .ftx24 span{
	border-right: 1px solid #DBDBDB;
    color: #666666;
    padding-top: 4px;
    padding-right: 2px;
    text-decoration: none;
    font-family: Arial, "microsoft yahei";
}
#login-panel .ftx24 span.more{border-right: none;}

#login form{ margin-left:30px;}

#login-ad{
	text-align: center;
	min-height: 300px;
	padding: 0px;
}
#register p{text-align: center;}
#register .content{padding: 5px; border-top: none;}
#register .form{ width:320px; margin: 0px auto;}
#register .form td{font-size: 12px; color: #666;}
#register .form td label{font-size: 12px; color: #333;}
#register .form .error{font-size: 12px;}
#register input[type="text"],
#register input[type="password"]{
	width:300px;
	margin:5px 0;
	line-height:30px; 
	height: 30px;
	padding: 4px 30px 4px 5px;
	font-size: 14px;
	font-family: Arial;
	color: #666;
}
#register input[name="email"]{
	background: url("graphic/one4.jpg") right 10px center no-repeat;
}
#register input[type="password"]{
	background: url("graphic/one5.jpg") right 10px center no-repeat;
}
#register input.input-slim{width:100px; background: none;padding: 4px 5px 4px 5px;}

#register .captcha{  cursor:pointer;}

#register .button{
    height: 34px;
    line-height: 34px;
    width: 300px;
    padding: 0px;
}
#register a.button span{line-height: 34px; font-size: 16px;font-family: "microsoft yahei"}
#register .title{color: #79bc53; font-size: 18px; font-family: "microsoft yahei";font-weight: bold;}
#register .title a{color: #1896e6; font-size: 18px; font-family: "microsoft yahei";font-weight: bold;}

.login-content h2 {
	font-size:16px;
	line-height:24px;
	margin-bottom:10px; 
}
#register .mt {
	padding-right: 10px;
	position: relative;
	overflow: visible;
	
	background: #eee;
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding-left: 50px;
	font-size: 18px;
	font-family: "microsoft yahei";
	font-weight: bold;
	color: #333;
	
}
#register .tab {
	height: 41px;
	margin-bottom: -1px;
}
#register .tab .curr {
	position: relative;
	background: #ffffff;
	color: #6bb130;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	margin-top: 0;
	border-bottom: none;
	display:none;
	
}
#register .tab li {
	margin-right: 5px;
	margin-top: 3px;
	font-size: 15px;
	width: 100px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	background: #f7f7f7;
	border: 1px solid #ddd;
	float: left;
	font-family: "microsoft yahei";
}
#register .tab li a {
	display: block;
	width: 100px;
	height: 40px;
	text-decoration: none;
}
#register .mt .extra {
	position: absolute;
	right: 20px;
	top: 13px;
	float: right;
}
#register .mt span{color: #666; font-size: 12px; font-weight: normal; margin-left: 20px;}


.login-content .pull-left .content, .login-content .pull-right .content {
	min-height: 200px;
	margin-bottom:10px;
} 

/* Member Center*/
.member-left{float:left; width:180px; margin-bottom:10px;}
.member-left ul.nav{border-bottom:solid 1px #e9e9e9;border-left:solid 1px #e9e9e9;border-right:solid 1px #e9e9e9;}
.member-left ul.nav li{padding:1px;border-top:solid 1px #e9e9e9;}
.member-left ul.nav li h1{line-height:35px; font-size:12px;font-weight:bold; margin-bottom:0; padding:0 0 0 10px; display:block;color: #333;background:#e3e3e3;}
.member-left dl.navigation{padding:5px 0;}
.member-left dl.navigation dd{padding:3px 10px;}
.member-left dl.navigation dd a{outline:none; display:block;color:#333;text-decoration:none;line-height:20px; padding-left:15px;}
.member-left dl.navigation dd a:hover {color:#6bb130; }
.member-left dl.navigation dd a.selected {color:#fff;background:#e81f3f; font-weight:bold;}
.member-left dl.navigation dd dd{ padding-left:20px;}

/* article */
.article-list, .article {
	border: 1px solid #ddd;
	padding: 0 20px 30px 20px;
}
.article-list h1, .article h1{
	text-align: center;
	border-bottom: 1px #dadada solid;
	font-size: 20px;
	line-height: 44px;
	font-family: microsoft yahei,宋体;
	font-weight: bold;
	padding-top: 10px;
}
.article-list .vlist li{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dotted #ccc;
}
.article-list .vlist li a{ float: left; padding-left: 15px; background: url("graphic/ico.jpg") 3px center no-repeat;}
.article-list .vlist li a:hover{color: #000; text-decoration: none;}
.article-list .vlist li .date{float: right; padding-right: 30px;}
.article .release{text-align: right; padding-bottom: 20px; }
#content .article .content{border: none;}


/* post buy */
#post-buy{border: 5px solid #eee; font-family: "microsoft yahei";}
#post-buy .basic{ padding: 30px; margin: 0px auto; width: 850px;}
#post-buy .basic .red{color:red;}
#post-buy .basic b{color:red;}
#post-buy .basic h1{
	color: #79bc53;
	font-size: 18px;
	font-family: "microsoft yahei";
	font-weight: bold;
	text-align: center;
	padding: 10px 0px 20px;
}
#post-buy .basic .tr{padding-top: 16px; overflow: hidden;}
#post-buy .basic .tr .key {
float: left;
width: 116px;
padding-right: 10px;
text-align: right;
margin-top: 2 px\9;
}
#post-buy .basic .tr .value {
float: left;
width: 720px;
}
#post-buy .basic .h10{margin-top: 10px;}


#content .contact{
	padding: 50px;
	overflow: auto;
	margin-bottom: 20px;
	border: 5px solid #EEEEEE;
}


/* foot news */
.wenzhang{width: 1200px; margin: 30px auto 0px; }
.wenzhang .wenti, .wenzhang .huodong{width: 440px; display: block; float: left; }
.wenzhang .zixun{width: 310px; display: block; float: right;}
.wenzhang .subscription{width: 310px; float: right;}
.wenzhang .mt{
	height: 29px;
	line-height: 29px;
	padding: 0 8px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 2px solid #AAA;
	cursor: default;
}
.wenzhang .wenti .mt{border-right: none;}
.wenzhang .mt h2{
	float: left;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #666;
	line-height: 29px;
}
.wenzhang .mt .extra{float: right;}
.wenzhang .mc{
	height: 161px;
	padding: 0px 10px;
	border: solid #ddd;
	border-width: 0 1px 1px;
}
.wenzhang .wenti .mc{border-right: none;}
.wenzhang .mc ul li{
	height: 60px;
	padding: 10px 0 10px 15px;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	display: list-item;
}
.wenzhang .mc ul li .p-img {
	float: left;
	margin-right: 15px;
	overflow: visible;
	padding: 5px 0px;
}
.wenzhang .mc ul li .p-img img{border: 1px solid #ddd;}
.wenzhang .mc ul li .p-name {
	height: 1.5em;
	padding: 3px 0;
	overflow: hidden;
}
.wenzhang .mc ul li .p-name a{font-weight: bold; color: #1896E6;}
.wenzhang .mc ul li .p-detail{
	overflow: hidden;
	width: 280px;
	height: 3em;
	padding-right: 50px;
	background: url(http://misc.360buyimg.com/product/skin/2013/i/20130330B_1.png) no-repeat 290px -80px;
	color: #999;
}
.wenzhang .mc ul li .p-detail a{color: #999;}
.wenzhang .zixun .mc {
	padding: 5px 10px;
	height: 151px;
}
.wenzhang .zixun .p-img {
	float: left;
	width: 100px;
	padding: 0;
}
.wenzhang .zixun .p-img img{border: 1px solid #ddd;}
.wenzhang .zixun ul {
	float: right;
	width: 180px;
}
.wenzhang .zixun ul li {
	height: 25px;
	overflow: hidden;
	line-height: 25px;
	padding: 0px;
	margin: 0px;
	border: none;
}
.wenzhang .subscription .mt {
	margin-bottom: 2px;
	height: 18px;
	line-height: 18px;
	border: none;
}
.wenzhang .subscription .mt h2{
	float: left;
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #666;
	line-height: 18px;
}
.wenzhang .subscription .mc{
	border: none;
	height: auto;
}

/* checkout */
.tishi{width: 500px; margin: 40px auto;}
.tishi-title{
	height: 53px;
	line-height: 53px;
	background: url("graphic/checkmark.png") left top no-repeat;
	padding: 0px 0px 20px 60px;
	font-family: "microsoft yahei";
	font-size: 20px;
	font-weight: bold;
}
.tishi-content p{
	margin-bottom: 10px;
}
.tishi-content a{color: #6bb130;}

.order_status{ height:45px; width:710px; margin:25px auto; }
.order_status .status{ height:18px;  position:relative;  background:url(graphic/state.jpg) center 0 no-repeat; }
.order_status .status-16{ background-position:center 0 ; }
.order_status .status-2{ background-position:center -18px; }
.order_status .status-3{ background-position:center -36px; }
.order_status .status-5{ background-position:center -70px; }

.order_status ul{ height:20px; position:absolute; top:20px; left:0;   line-height:20px; }
.order_status ul li{ float:left; margin-right:118px; }
.order_status ul li.i1{  }
.order_status ul li.i2{ }
.order_status ul li.i3{ }
.order_status ul li.i4{ margin-right:110px;  }
.order_status ul li.i5{ margin-right:0px;  }


#language a{ padding-left:20px; line-height:1.5em; }
#language .cn{ background:url(../image/flags/cn.png) 0 center no-repeat; }
#language .en{ background:url(../image/flags/gb.png) 0 center no-repeat; }


.topbanner {
	margin-bottom: 10px;
}

.topbanner a {
	display: block;
	float: left;
}
	
.topbanner .banner1 {
margin-right: 10px;
}

.down {
	border: 1px solid #ccc;
	width: 16px;
	background: none;
	cursor: pointer;
	color: #666;
}

.up {
	border: 1px solid #ccc;
	width: 16px;
	background: none;
	cursor: pointer;
	color: #666;
}

.quantity .addcart {
	height: 20px;
	line-height: 20px;
	margin: 2px;
	width: 20px;
}

.article-summary-lists .item{ margin-bottom:20px; }

.article-summary-lists .item .post-image{ 
	
	margin-right:20px;
	border: 6px solid #F0F1F2;
	padding: 0px;
}
.article-summary-lists .item .post-image img{width: 200px; height: 109px;}
.article-summary-lists .summary h2.post-title a {
	margin: 0px;
	font-size: 17px;
	font-weight: normal;
	color: #679e11;
}
.article-summary-lists .post-description{margin-top: 15px;}


/* Style for product icon */
.product-grid .product .image,
.product-info .image{ position:relative; }

.product-grid .product .image .lables,
.product-info .image .lables {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 30px;
	z-index:10010;
}

.product-info .image .lables{}

.icon_1_1,.icon_2_1 {
	width: 30px;
	height: 30px;
	background: url(graphic/bq/organic_2.png) no-repeat;
	display: inline-block;
	margin-right: 0px;
}

.icon_1_2,.icon_2_2 {
	width: 30px;
	height: 30px;
	background: url(graphic/bq/import_2.png) no-repeat;
	display: inline-block;
	margin-right: 0px;
}

.icon_1_3,.icon_2_3 {
	width: 30px;
	height: 30px;
	background: url(graphic/bq/sp_2.png) no-repeat;
	display: inline-block;
	margin-right: 0px;
}

.icon_1_4,.icon_2_4 {
	width: 30px;
	height: 30px;
	background: url(graphic/bq/ds_2.png) no-repeat;
	display: inline-block;
	margin-right: 0px;
}

.icon_2_1 {
	background-image: url(graphic/bq/organic_1.png);
}
.icon_2_2 {
	background-image: url(graphic/bq/import_1.png);
}
.icon_2_3 {
	background-image: url(graphic/bq/sp_1.png);
}


.icon_2_4 {
	background-image: url(graphic/bq/ds_1.png);
}

// here is for alipay bank
bank-list{
	overflow:hidden;
	margin-top:5px;
	list-style:none;
}
.bank-list li{
	float:left;
	width:150px;
	margin-bottom:5px;
}


.icon-info{
    background-color: #D2EEF7;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    font-weight: normal;
    height: 30px;
    line-height: 15px;
    padding: 0 3px;
    top: -1px;
    font: 12px/1.5 tahoma,arial,宋体;
}
.bank-icon{
    background-image: url(../image/bankicon.png);
    display:inline-block;
    height: 30px;
    width:120px;
    background-repeat: no-repeat;
}
.ICBCB2C{
    background-position: 0 -40px;
}
.CMB {
    background-position: 0 -80px;
}
.CCB{
    background-position: 0 -320px;
}
.BOCB2C{
    background-position: 0 -520px;
}
.ABC{
    background-position: 0 -480px;
}
.COMM{
    background-position: 0 -600px;
}
.PSBC-DEBIT {
    background-position: 0 -400px;
}
.CEBBANK {
    background-position: 0 -440px;
}
.SPDB {
    background-position: 0 -360px;
}
.GDB {
    background-position: 0 -280px;
}
.CITIC {
    background-position: 0 -200px;
}
.CIB {
    background-position: 0 -3365px;
}
.SDB {
    background-position: 0 -240px;
}
.CMBC {
    background-position: 0 -120px;
}
.HZCBB2C {
    background-position: 0 -760px;
}
.SHBANK {
    background-position: 0 -840px;
}
.BJRCB {
    background-position: 0 -2640px;
}
.SPABANK {
    background-position: 0 -1880px;
}
.FDB {
    background-position: 0 -1320px;
}
.NBBANK {
    background-position: 0 -1240px;
}
.BJBANK {
    background-position: 0 -3240px;
}
.WZCBB2C-DEBIT {
    background-position: 0 -1720px;
}
.ICBCBTB{
    background-image: url(../image/ENV_ICBC_OUT.gif);
}
.CCBBTB{
    background-image: url(../image/ENV_CCB_OUT.gif);
}
.ABCBTB{
    background-image: url(../image/ENV_ABC_OUT.gif);
}
.SPDBB2B{
    background-image: url(../image/ENV_SPDB_OUT.gif);
}


