<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1"/>
    <title>青年菜君</title>
    <!-- 公共样式库 -->
    <link href="css/common.css" rel="stylesheet"/>
    <!-- 页面自定义样式 -->
    <link href="css/zt.css" rel="stylesheet"/>
</head>
<body>
<!-- 公共头开始 -->
<div id="header">
    <div class="pull-left">
        <a class="return" href="javascript:_.go();"></a>
        <a class="locate fz-18" href="javascript:location.reload(true);">北京</a>
    </div>
    <div class="pull-right">
        <a class="search" href="javascript:"></a>
        <a class="message has-new" href="javascript:"></a>
    </div>
    <div class="text-center">
        <a class="logo" href="../home/home.html"></a>
        <div class="search-input">
            <input type="text" name="wd"/>
        </div>
    </div>
</div> 
<!-- 公共头结束 -->
<!-- 页面内容开始 -->
<div class="m-content-box">
    <div class="m-zt-banner">
        <a href="javascript:void(0);">
            <img src="images/zt-banner.png">
        </a>
    </div>
    
    <div class="m-zt-overbalanced">
        <div class="m-zt-distance ">
            <img src="images/zt-cover.png"> 
            <div class="zt-cover-bg">
              <img src="images/zt-cover.png"> 
            </div>
            <div class="m-zt-sign clearfix">
               
                <div class="m-zt-overbalanced-l ">
                <a href="javascript:void(0);">
                    <p class="tit-p">两菜一汤套餐</p>
                    <img src="images/zt-c1.png">
                    <div class="m-zt-overbalance">
                      <span class="price fz-16 combo">套餐价：￥17.50</span>
                      <span class="price fz-12 text-delete original">原价：￥34.50</span>
                    </div>
                </a>

                <span class="m-zt-cart-btn">立即购买</span>
            </div>
            <div class="m-zt-overbalanced-r">
                <a href="javascript:void(0);">
                    <p class="tit-p">四菜一汤套餐</p>
                    <img src="images/zt-c2.png">
                    <div class="m-zt-overbalance">
                      <span class="price fz-16 combo">套餐价：￥33.00</span>
                      <span class="price fz-12 text-delete original">原价：￥66.00</span>
                    </div>
                </a>

                <span class="m-zt-cart-btn">立即购买</span>
            </div>
            </div>
            
        </div>      
    </div>
    <div class="m-zt-gm">
        <a href="javascript:void(0);">
            <img src="images/zt-gm.png">
        </a>
    </div>
    <div class="m-zt-particulars">
        <div class="particulars-box">
            <ul id="list_container">
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-1.png">
                    <div class="m-zt-price" >
                        <span class="fz-16 combo-color">节日价￥7.00</span>
                        <span class="fz-10 text-delete original-color">￥14.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-2.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥7.00</span>
                        <span class="fz-10 text-delete original-color">￥14.00</span>
                    </div>
                  </a>
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-3.png">
                    <div class="m-zt-price" >
                        <span class="fz-16 combo-color">节日价￥4.50</span>
                        <span class="fz-10 text-delete original-color">￥9.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-4.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥7.00</span>
                        <span class="fz-10 text-delete original-color">￥14.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-5.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥10.00</span>
                        <span class="fz-10 text-delete original-color">￥20.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-6.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥4.50</span>
                        <span class="fz-10 text-delete original-color">￥9.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-7.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥5.50</span>
                        <span class="fz-10 text-delete original-color">￥11.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-8.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥9.00</span>
                        <span class="fz-10 text-delete original-color">￥18.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-9.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥9.00</span>
                        <span class="fz-10 text-delete original-color">￥18.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-10.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥4.50</span>
                        <span class="fz-10 text-delete original-color">￥9.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-11.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥5.50</span>
                        <span class="fz-10 text-delete original-color">￥11.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-12.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥7.00</span>
                        <span class="fz-10 text-delete original-color">￥14.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-13.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥7.00</span>
                        <span class="fz-10 text-delete original-color">￥14.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-14.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥3.75</span>
                        <span class="fz-10 text-delete original-color">￥7.50</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-15.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥4.00</span>
                        <span class="fz-10 text-delete original-color">￥8.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-16.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥5.50</span>
                        <span class="fz-10 text-delete original-color">￥11.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-17.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥7.50</span>
                        <span class="fz-10 text-delete original-color">￥15.00</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <img src="images/pic-18.png">
                    <div class="m-zt-price">
                        <span class="fz-16 combo-color">节日价￥3.75</span>
                        <span class="fz-10 text-delete original-color">￥7.50</span>
                    </div>
                  </a>  
                  <span class="m-zt-buy-btn">立即购买</span>  
                </li>
            </ul>
        </div>
    </div>
    <div class="m-zt-footer-banner">
       <a href="javascript:void(0);">
        <img src="images/zt-footer2.jpg">
      </a>
    </div>
    
</div>

<!-- 页面内容结束 -->
<!-- 公共底部开始 -->
<div id="footer">
</div>
<!-- 公共导航 -->
<div id="navbar">
    <div class="text-center bg-white">
        <a href="../home/home.html" class="home col-red">首页</a>
        <a href="../" class="category">点餐</a>
        <a href="../cart/cart.html" class="cart"><span><span class="cart-num">12</span></span>购物车</a>
        <a href="../login/login.html" class="mine">我的</a>
    </div>
</div>
</body>
<!-- 页面js引入-->
<!-- <script src="js/zt.js"></script> -->
</html>
<script type="text/javascript">
window.onload=function (){
    var colWidth = (document.body.clientWidth-30)/2.0;
    var TbRow = document.getElementById("list_container");
    var TbRowN = TbRow.getElementsByTagName("li");
    //alert(TbRowN.length)
    if (TbRow != null)
    {
        for (var i=0;i<TbRowN.length;i++ )

        {
            TbRowN[i].index=i;
            /*TbRowN[0].style.backgroundColor="#F1F1F1";*/
            if (TbRowN[i].index%2==1)
            {
                TbRowN[i].className='';
                
            }
            else
            {
                TbRowN[i].className='active';
                
            }
            TbRowN[i].style.width=colWidth+'px';//利用内嵌样式增加width
        }

    }
};
</script>

