/* 页面 less 文件, 如果不用less就直接编辑相应的css文件 */
#m-banner {
  margin-bottom: 5px;
}
.img-wrapper {
  width: 100%;
}
#m-info > div {
  display: inline-block;
  vertical-align: middle;
  width: 33.3%;
  padding: 12px 0;
}
#m-info > div > div {
  border-left: 1px solid #e34c0b;
  text-align: center;
  line-height: 15px;
}
#m-info > div > div > span {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  margin: 2.5px 0 0 8px;
}
#m-info > div:first-child > div {
  border-left: none;
}
#m-mark {
  padding: 14.5px 22px;
  line-height: 1em;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  color: #5a5a5a;
  width: auto;
}
#m-price {
  line-height: 32px;
  padding-bottom: 20px;
  padding-left: 22px;
  width: auto;
}
#m-add-cart {
  height: 44px;
}
#m-add-cart > .add-cart {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ededed;
  height: 44px;
}
#m-add-cart > .add-cart > input {
  padding: 0 15px;
  background-color: #b5c52f;
}
#m-add-cart > .add-cart > .pull-left {
  line-height: 44px;
  padding-left: 10%;
}
#m-add-cart > .add-cart > .pull-left > span {
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
  line-height: 25px;
  padding: 0 6px;
}
.fi-title {
  color: #5a5a5a;
}
.fi-title > .upon {
  line-height: 26px;
  font-size: 15px;
  padding: 0 38px;
  position: relative;
}
.fi-title > .upon:after {
  content: '';
  position: absolute;
  left: 14px;
  width: 50%;
  bottom: 0;
  height: 1px;
  max-width: 280px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 79, 4, 0)), color-stop(50%, #ff4f04), to(rgba(255, 79, 4, 0)));
  background-image: -moz-linear-gradient(left, rgba(255, 79, 4, 0) 0, #ff4f04 50%, rgba(255, 79, 4, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255, 79, 4, 0) 0, #ff4f04 50%, rgba(255, 79, 4, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 79, 4, 0) 0, #ff4f04 50%, rgba(255, 79, 4, 0) 100%);
  background-image: linear-gradient(to right, rgba(255, 79, 4, 0) 0, #ff4f04 50%, rgba(255, 79, 4, 0) 100%);
}
.fi-title > .down {
  line-height: 18px;
  font-size: 10px;
  padding: 0 38px;
}
.fi-content {
  padding: 12px 32px 24px;
}
.fi-content > .img-wrapper {
  width: 100%;
}
.fi-content > .content {
  padding: 8px;
  font-size: 12px;
  color: #5a5a5a;
}
.fi-content .fi-summary {
  margin-top: 30px;
  background: url("../images/summary.png") 4px 0 no-repeat;
  background-size: 23.5px auto;
  padding: 23.5px 4px 0;
  line-height: 28px;
  color: #5a5a5a;
  font-size: 12px;
}
.fi-step {
  margin: 0 -8px;
  padding-top: 24px;
  min-height: 144px;
  position: relative;
}
.fi-step > .title {
  position: relative;
  padding-bottom: 1px;
}
.fi-step > .title:after {
  position: absolute;
  content: '';
  width: 100%;
  bottom: 0;
  height: 1px;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 79, 4, 0)), color-stop(50%, #ff4f04), to(rgba(255, 79, 4, 0)));
  background-image: -moz-linear-gradient(left, rgba(255, 79, 4, 0) 0, #ff4f04 50%, rgba(255, 79, 4, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255, 79, 4, 0) 0, #ff4f04 50%, rgba(255, 79, 4, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 79, 4, 0) 0, #ff4f04 50%, rgba(255, 79, 4, 0) 100%);
  background-image: linear-gradient(to right, rgba(255, 79, 4, 0) 0, #ff4f04 50%, rgba(255, 79, 4, 0) 100%);
}
.fi-step > .title > span {
  display: inline-block;
  width: 28px;
  height: 28px;
  vertical-align: top;
  font-size: 22px;
  font-weight: bold;
  color: #ff4f04;
  border: 2px solid #ff4f04;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  line-height: 28px;
}
.fi-step > .dt {
  color: #5a5a5a;
  font-size: 12px;
  padding-left: 1em;
  position: relative;
  line-height: 22px;
}
.fi-step > .dt:before {
  content: '';
  width: 0;
  height: 0;
  border: 2px solid #ff4f04;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 9px;
  left: 0;
}
.fi-step > .img-wrapper {
  width: 131px;
  position: absolute;
  top: 24px;
}
.fi-step.left > .title {
  margin-left: 18px;
}
.fi-step.left > .dt {
  margin-right: 138px;
  margin-left: 32px;
}
.fi-step.left > .img-wrapper {
  right: 0;
}
.fi-step.right > .title {
  text-align: right;
  margin-right: 30px;
}
.fi-step.right > .dt {
  margin-left: 138px;
  margin-right: 12px;
}
.fi-step.right > .img-wrapper {
  left: 0;
}
