#m-nav a {
  width: 33.3%;
}
#m-nav a:active {
  background-color: #f0f0f0;
}
#m-nav  > div {
 padding: 1%;
width: 23%;
}
#m-nav  div > .img-wrapper {
  width: 35px;
  max-width: 35px;
}
#m-nav  div > .title {
  line-height: 40px;

  width: 100%;
}
#m-today > .text-center {
  line-height: 45px;
  border-bottom: 1px solid #ededed;
}
#m-today > .banner  ul > li {
  height: 145px;
}
#m-today > .banner  ul > li > div {
  padding: 10px 0 0 0.4rem;width: 100%;
}
#m-today > .banner  ul  li  div .img-wrapper {
 width: 30%;
}
#m-today > .banner  ul > li > div > .content {
	width: 70%;text-align: center;
}
#m-today > .banner >ul > li > div > .content > .title {
  line-height: 20px;
}
#m-today > .banner  ul > li > div > .content > .price {
  line-height: 20px;width: 100%;
}
.m-season > .fz-18 {
  line-height: 38px;
}
.m-season > .fz-12 {
  line-height: 1em;
  padding-bottom: 13px;
}
.m-season > .horizontal-scroll > .wrapper {
  padding-bottom: 15px;
}
.m-season > .horizontal-scroll > .wrapper > .item {
  padding: 0 5px;
  width: 100px;
}
.m-season > .horizontal-scroll > .wrapper > .item:first-child {
  padding-left: 10px;
}
.m-season > .horizontal-scroll > .wrapper > .item:last-child {
  padding-right: 10px;
}
.m-season > .horizontal-scroll > .wrapper > .item > .img-wrapper {
  width: 100px;
  height: 100px;
}
.m-season > .horizontal-scroll > .wrapper > .item > .title {
  line-height: 18px;
}
.m-season > .horizontal-scroll > .wrapper > .item > .price {
  line-height: 18px;
}
#m-week > .title {
  line-height: 40px;
  height: 40px;
}
#m-week > .title > .tail {
  width: 70px;
  height: 100%;
}
#m-week > .title > .tail.left {
  background: url("../images/left-tail.png") center center no-repeat;
  background-size: 100% 3px;
}
#m-week > .title > .tail.right {
  background: url("../images/right-tail.png") center center no-repeat;
  background-size: 100% 3px;
}
#m-week > .title > .fz-18 {
  padding: 0 1em;
}
#m-week > .filter {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  height: 16px;
  line-height: 16px;
  padding: 10px 0;
}
#m-week > .filter > div {
  width: 33.3%;
}
#m-week > .filter > div > div {
  border-left: 1px solid #aaaaaa;
}
#m-week > .filter > div > div > span {
  line-height: 1em;
}
#m-week > .filter > div:first-child > div {
  border-left: none;
}
#m-foods > .foods > li {
  margin-bottom: 10px;
  background-color: #ffffff;
  padding: 10px 0 10px 10px;
  height: 100px;
  position: relative;
}
#m-foods > .foods > li > .img-wrapper {
  width: 100px;
  height: 100px;
}
#m-foods > .foods > li > .content {
  padding-left: 110px;
}
#m-foods > .foods > li > .content > .title,
#m-foods > .foods > li > .content > .intro {
  line-height: 1.5em;
}
#m-foods > .foods > li > .content > .activity {
  padding: 7px 0;
}
#m-foods > .foods > li > .content .add-cart {
  position: absolute;
  right: 7.46666667%;
  top: 68px;
}
#m-foods > .foods > li > .content > .prices {
  padding-top: 6px;
}
#food-filter-overlay .overlay-content {
  width: 100%;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
#food-filter-overlay .overlay-content > .filter {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
  padding: 10px 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
#food-filter-overlay .overlay-content > .filter > div {
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari 和 Chrome */
  box-flex: 1;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
  border-left: 1px solid #aaaaaa;
}
#food-filter-overlay .overlay-content > .filter > div > div > span {
  line-height: 1em;
}
#food-filter-overlay .overlay-content > .filter > div:first-child {
  border-left: none;
}
#food-filter-overlay .overlay-content > .list-wrapper {
  padding: 10px 42px;
}
#food-filter-overlay .overlay-content > .list-wrapper > div > a {
  padding: 7px 0;
  font-size: 14px;
  display: block;
}
#food-filter-overlay .overlay-content > .list-wrapper > div > a > i {
  border-radius: 50%;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  padding: 0 0.25em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5em;
}
