/*ticket 优惠券 页面新增样式开始*/
*{
	font-family:"Microsoft YaHei";
}
.h-ticket{
	background-color:#b5c52f!important;
}
.ticket > li{
	background-color:#FFF;
	margin:10px;
	height:79px;
	padding:3px;
	position:relative;
	letter-spacing:normal!important;
}
.ticket_dashed{
	background:url(../image/ticket/ticket_dashed.png) no-repeat;
	background-size:13px;
	width:13px;
	height:85px;
	position:absolute;
	top:0;
	right:75px;
	z-index:9;
}
.ticketbox{
	height:77px;
	border:1px solid #fc956c;
}
.ticketget{
	background:url(../image/ticket/get_orange.png) no-repeat;
	background-size:46px;
	width:46px;
	height:53px;
	position:absolute;
	top:16px;
	right:18px;
}
.money{
	float:left;
	margin-left:20px;
	color:#fc956c;
}
.money i{
	font-size:40px;
	line-height:55px;
	font-weight:bolder;
}
.condition{
	float:left;
	font-size:16px;
	padding-top:5px;
}
.condition i{
	font-size:18px;
}
.time{
	margin-left:20px;
}
/*枚红 优惠券样式*/
.get_roseo > div.ticketbox{
	border-color:#fc6c98;
}
.get_roseo span.money{
	color:#fc6c98;
}
.get_roseo div.ticketget{
	background:url(../image/ticket/get_roseo.png) no-repeat;
	background-size:46px;
}
/*蓝色 优惠券样式*/
.get_blue > div.ticketbox{
	border-color:#6cb7fc;
}
.get_blue span.money{
	color:#6cb7fc;
}
.get_blue div.ticketget{
	background:url(../image/ticket/get_blue.png) no-repeat;
	background-size:46px;
}
/*灰色 优惠券样式*/
.get_grey{
	color:#ededed;
}
.get_grey:after{
	content: " ";
	display:block;
	position:absolute;
	top:9px;
	right:88px;
	background:url(../image/ticket/ticket_soldout.png) no-repeat;
	background-size:50px;
	width:50px;
	height:47px;
}
.get_grey.get:after{
    background:url(../image/ticket/getted.png) no-repeat;
    background-size:50px;
}
.get_grey > div.ticketbox{
	border-color:#ededed;
}
.get_grey span.money{
	color:#ededed;
}
.get_grey div.ticketget{
	background:url(../image/ticket/get_grey.png) no-repeat;
	background-size:46px;
}